body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: #0056b3;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 15px 0 5px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    display: inline-block;
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

#loadingSection img {
    display: block;
    margin: 20px auto;
    width: 150px;
    /* Adjust based on your image's ideal size */
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #666;
}