<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protein Sequence Prediction</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Protein Function Prediction - TooT-PLM-ionCT</h1>
        <section id="system-description">
            <h2>About TooT-PLM-ionCT</h2>
            <p>
                TooT-PLM-ionCT is a specialized framework developed to accurately categorize ion channels (ICs) and ion
                transporters (ITs), and to distinguish between these two types of membrane proteins. For the
                classification tasks involving ICs and membrane proteins (IC-MP) as well as ITs and membrane proteins
                (IT-MP), we employ the ESM-1b model paired with a logistic regression classifier. In contrast, for
                distinguishing between ICs and ITs (IC-IT), the ESM-2 model is utilized alongside a Convolutional Neural
                Network (CNN) for classification. This strategic use of advanced Protein Language Models (PLMs) and
                machine learning techniques aims to streamline the understanding of these critical proteins' functions,
                bypassing the need for extensive laboratory work and significantly contributing to advancements in
                bioinformatics.
            </p>
        </section>
        <section id="learn-more">
            <h2>Further Reading</h2>
            <p>For a detailed understanding of the TooT-PLM-ionCT framework and its scientific foundations, you are
                encouraged to read our research paper. The paper provides comprehensive insights into the methodology,
                data analysis, and implications of our work in the field of bioinformatics.</p>
            <a href="https://www.biorxiv.org/content/10.1101/2023.07.11.548644v1.abstract" target="_blank">Read the
                Paper</a>
        </section>
        <div>
            <h3>Submit Your Protein Sequence</h3>
            <p>Please enter a single protein sequence in the field below. Our system is currently designed to process
                one sequence at a time to ensure accurate and efficient predictions.</p>
        </div>
        <div>
            <label for="classificationType">Select Classification Type:</label>
            <select id="classificationType" name="classificationType">
                <option value="IC_MP">Ion Channels - Membrane Proteins</option>
                <option value="IT_MP">Ion Transporters - Membrane Proteins</option>
                <option value="IC_IT">Ion Channels - Ion Transporters</option>
            </select>
        </div>
        <!-- Protein Sequence Submission Section -->
        <div class="input-section">
            <label for="proteinSequence">Enter Protein Sequence:</label>
            <textarea id="proteinSequence" name="proteinSequence" pattern="[ACDEFGHIKLMNPQRSTVWY]+" required></textarea>
            <div class="examples">
                <span>Try an example sequence:</span>
                <button class="example-btn" onclick="useExample('IC')">IC Example</button>
                <button class="example-btn" onclick="useExample('IT')">IT Example</button>
                <button class="example-btn" onclick="useExample('MP')">MP Example</button>
            </div>
            <button class="submit-btn" onclick="submitSequence()">Submit Sequence</button>
        </div>
        <!-- Loading Section -->
        <div id="loadingSection" style="display:none;">
            <img src="/static/images/loading.gif" alt="Processing..." />
            <p>Processing your sequence, please wait...</p>
        </div>
        <!-- Results Section -->
        <div id="resultsSection" style="display:none;">
            <h3>Prediction Results</h3>
            <p id="resultsText">Your results will appear here.</p>
            <!-- Chart Image -->
            <img id="chartImage" src="" alt="Prediction Probabilities Chart"
                style="display: block; margin: 20px auto; max-width: 100%; height: auto;">
        </div>

    </div>

    <footer>
        <p>&copy; <span id="year"></span> Bioinformatics Lab, Computer Science Department, Concordia University</p>
        <p>Developed by Hamed Ghazikhani</p>
        <p>Contact: <a href="mailto:h_ghazik@live.concordia.ca">h_ghazik@live.concordia.ca</a></p>
    </footer>

    <script>
        function submitSequence() {
            var sequenceElement = document.getElementById('proteinSequence');
            var rawSequence = sequenceElement.value;
            var sequence = rawSequence.replace(/^>.*\n?/, '').replace(/\s+/g, '');
            var regexPattern = /^[ACDEFGHIKLMNPQRSTVWY]+$/i;

            if (!regexPattern.test(sequence)) {
                alert("Invalid protein sequence. Please enter a valid sequence consisting of amino acid letters.");
                return;
            }

            // Display the loading section
            document.getElementById('loadingSection').style.display = 'block';
            // Hide the results section in case it's already visible from a previous submission
            document.getElementById('resultsSection').style.display = 'none';

            var classificationType = document.getElementById('classificationType').value;
            fetch('/submit_sequence', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'proteinSequence=' + encodeURIComponent(sequence) + '&classificationType=' + encodeURIComponent(classificationType)
            })
                .then(response => {
                    // Hide the loading section regardless of the response
                    document.getElementById('loadingSection').style.display = 'none';
                    if (!response.ok) {
                        return response.json().then(err => { throw err; });
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        alert('Error: ' + data.error);
                    } else {
                        // Display the prediction result
                        document.getElementById('resultsText').innerText = 'Prediction: ' + data.prediction;
                        // Display the chart image
                        document.getElementById('chartImage').src = data.chartImage;
                        document.getElementById('chartImage').style.display = 'block'; // Ensure the chart image is visible
                        // Display the results section
                        document.getElementById('resultsSection').style.display = 'block';
                    }
                })
                .catch(error => {
                    // Hide the loading section in case of an error
                    document.getElementById('loadingSection').style.display = 'none';
                    alert('Error: ' + (error.error || error.message));
                });
        }

        function useExample(type) {
            let exampleSequence = '';
            switch (type) {
                case 'IC':
                    exampleSequence = 'MAETTKLQLFVKASEDGESVGHCPSCQRLFMVLLLKGVPFTLTTVDTRRALDVLKDFAPGSQLPILLYDGDVKTDTLQIEEFLEETLGPPDFPSLAPRYRESNTAGNDIFHKFSAFIKNPVPTQDNALYQQLLRALTRLDSYLRAPLDHELAQEPHLRESHRRFLDGDQFTLADCSLLPKLHIVDTVCAHFRQLPIPAELSCVRRYLDSALQKKEFKYTCPHSAEILAAYQPAVHPR';
                    break;
                case 'IT':
                    exampleSequence = 'MTSNVQLSETNSPRNQKTRPRAEKEEVDYMQRAQWLRAALLGANDGLVTVASLMMGVGSIKEDVKAMLLVGFAGLVAGACSMAIGEFVSVCTQRDIETAQMKRAIEHKTSLSAIDEQEEEEKKERLPNPGQAAIASALAFSVGAAMPLLGAVFIENHKVRMVVVAVVATIALVVFGVTGAVLGKTSVVKSSVRVVIGGWMAMALTFGLTKFIGSAAMQI';
                    break;
                case 'MP':
                    exampleSequence = 'MAAGTSNYWEDLRKQARQLENELDLKLVSFSKLCTSYSHSGSRDGGRDRYSSDTTPLLNGSSQDRMFETMAIEIEQLLARLTGVNDKMAEYTHSAGVPSLNAALMHTLQRHRDILQDYTHEFHKTKANFTAIRERENLMGSVRKDIESYKSGSGVNNRRTELFLKEHDHLRNSDRLIEETISIAMATKENMTSQRGMLKSIHSKMNTLANRFPAVNSLIQRINLRKRRDSLILGGVIGICTILLLLYAFH';
                    break;
            }
            document.getElementById('proteinSequence').value = exampleSequence;
        }

        document.getElementById('year').textContent = new Date().getFullYear();
    </script>

</body>

</html>